.my-list-group-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.my-list-group-container li {
    text-align: left;
}

.my-list-group-container h2 {
    display: block;
}

.my-list-group-container input {
    border: none;
}

.my-list-group-container input:focus {
    outline: none;
}
.my-list-group-container button {
    border-radius: 50%;
}
